<a href="https://colab.research.google.com/github/Dinarque/INALCO_Inalco_M2_langage_de_scripts_2024_eleves/blob/main/cours/exercices_pythonismes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python tricks : quelques exercices d'application

1) Créez une liste de 100 éléments qui contient les chiffres de 1 à 4 qui se répètenet en boucle

2) En une ligne de code, retournez la liste des nombres pairs présents dans la liste suivante

In [ ]:
liste = [1,25,4,6,8,95,32,65,45,54,1,7,2,0]

3) En utilisant une fonction lambda, transformez la liste suivante en mots en majuscules

In [1]:
liste = ["chacal","renard","caribou","chat","boucanal"]

4) Ecrire ***en une ligne de code *** un dictionnaire qui attribue à un mot dans une liste son index dans une liste de mots

In [2]:
liste = ["chacal","renard","caribou","chat","boucanal"]

5) En **Une seule ligne de code** combinez deux listes de taille égale en un dicitonnaire

In [ ]:
liste_cles = ['a', 'b', 'c']
liste_valeurs = [1, 2, 3]

6) sélectionnez d'un coup le premier et le dernier animal du tuple sans utiliser de slicing / de crochet

In [4]:
tupl = ("chacal","renard","caribou","chat","boucanal")

7) écrire un programme qui renvoie la liste des indices des éléments pairs et la liste des éléments impairs d'une liste

In [ ]:
liste = [1,25,4,6,8,95,32,65,45,54,1,7,2,0]

8) écris une fonction qui prend en entrée un dictionnaire associant un caractère à son nombre d'occurrence et renvoie une guirlande de ces caractères séparés par "_".
Indice : il faut utiliser DEUX pythonismes.

In [ ]:
dic = {"!": 8, "*": 5, "?":2}

9)  filtrer le dictionnaire de sorte à ne garder que les paires où la longueur de la clé est strictement supérieure à la valeur associée

In [ ]:
dictionnaire = {
    "éléphant": 3,
    "chat": 5,
    "crocodile": 7,
    "chien": 4,
    "girafe": 6
}

10) La liste de tuples contient le prix au kilo de certains fruits.
Trier cette liste selon le prix par ordre croissant

In [ ]:
liste_tuples = [("pomme", 10), ("banane", 5), ("cerise", 12), ("datte", 7)]